/* reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global styles */
body {
    padding-top: 90px;
    /* ヘッダーの後ろに要素が隠れないようにするため */
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    line-height: 1.5;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #333;
}

/* header styles */
header {
    background-color: #f8f8f8;
    width: 100%;
    /* 幅いっぱいを指定 */
    height: 50px;
    /* 高さを50pxに指定 */
    box-sizing: border-box;
    /* padding分を含んで幅を100%にするため */
    position: fixed;
    /* ウィンドウを基準に画面に固定 */
    top: 30px;
    /* 上下の固定位置を上から0pxにする */
    left: 0;
    /* 左右の固定位置を左から0pxにする */
    display: flex;
    /* 中の要素を横並びにする */
    align-items: center;
    /* 中の要素を上下中央に並べる */
    border-bottom: 1px solid #ccc;
    z-index: 1;
}

header h1 {
    font-size: 32px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav li {
    text-align: center;
    width: 15vw;
    margin-right: 1vw;
}

nav li a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    color: #333;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ddd;
}

nav li a.active {
    padding: 20px 20px;
    /* ヘッダーに上下左右それぞれ余白を指定 */
    color: #ccc;
    pointer-events: none;
}

nav li a.no-active {
    padding: 20px 20px;
    /* ヘッダーに上下左右それぞれ余白を指定 */
}

nav li a img {
    width: 100px;
    height: 26px;
    margin-right: 5px;
}

.header-lan {
    padding-top: 20px;
    padding-left: 50px;
}

@media (max-width: 600px) {
    .header-lan {
        padding-top: 5px;
        flex-direction: column;
    }
}

/* hero styles */
#hero {
    background-image: url('https://example.com/hero-image.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}


#hero h2 {
    font-size: 48px;
}

#top {
    background-color: #ffffff;
    padding-bottom: 60px;
    text-align: center;
}

#top ul {
    display: inline-block;
    text-align: left;
}

#new {
    background-color: #f8f8f8;
    padding-bottom: 60px;
    text-align: center;
}

#new ul {
    display: inline-block;
    text-align: left;
}

/* research styles */
#research {
    background-color: #fff;
    padding-bottom: 60px;
    text-align: center;
}

#members {
    background-color: #f8f8f8;
    padding-bottom: 60px;
    text-align: center;
}

/* recruitment styles */
#recruitment {
    background-color: #fff;
    padding-bottom: 60px;
}

footer {
    background-color: #f8f8f8;
}



.custom-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #3E8E41;
}



/*==================================================
スライダーのためのcss
===================================*/
.slider {
    position: relative;
    z-index: 1;
    /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
    height: 100vh;
    /*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    /*少し下に移動する*/
}

/*　背景画像設定　*/

.slider-item01 {
    background: url(https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-1-2/img/img_01.jpg);
}

.slider-item02 {
    background: url(https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-1-2/img/img_02.jpg);
}

.slider-item03 {
    background: url(https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-1-2/img/img_03.jpg);
}

.slider-item {
    width: 100%;
    /*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
    height: 80vh;
    /*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    background-repeat: no-repeat;
    /*背景画像をリピートしない*/
    background-position: center;
    /*背景画像の位置を中央に*/
    background-size: cover;
    /*背景画像が.slider-item全体を覆い表示*/
}

/*矢印の設定*/

.slick-prev,
.slick-next {
    position: absolute;
    z-index: 3;
    top: 42%;
    cursor: pointer;
    /*マウスカーソルを指マークに*/
    outline: none;
    /*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #fff;
    /*矢印の色*/
    border-right: 2px solid #fff;
    /*矢印の色*/
    height: 10vh;
    width: 10vh;
}

.slick-prev {
    /*戻る矢印の位置と形状*/
    left: 2.5%;
    transform: rotate(-135deg);
}

.slick-next {
    /*次へ矢印の位置と形状*/
    right: 2.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    position: relative;
    z-index: 3;
    text-align: center;
    margin: -50px 0 0 0;
    /*ドットの位置*/
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width: 8px;
    /*ドットボタンのサイズ*/
    height: 8px;
    /*ドットボタンのサイズ*/
    display: block;
    border-radius: 50%;
    background: #fff;
    /*ドットボタンの色*/
}

.slick-dots .slick-active button {
    background: #333;
    /*ドットボタンの現在地表示の色*/
}


/*========= レイアウトのためのCSS ===============*/



.wrapper {
    position: relative;
}

.wrapper .title {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 6vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
}



/*==================================================
particl
===================================*/

.particle-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: black;
}

.particle-background-white {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: white;
}

.h1-particle {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: xxx-large;
    color: white;
    text-align: center;
    width: fit-content;
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.h1-particle-black {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: xxx-large;
    color: black;
    text-align: center;
    width: fit-content;
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.box-parent {
    margin-top: 30vh;
    text-align: center;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    animation: fadein 6s ease forwards;
}


.fadein {
    padding-top: 30px;
    text-align: center;
    opacity: 0;
    animation: fadein 6s ease forwards;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

.txt01 {
    animation-delay: 1s;
}

.txt02 {
    animation-delay: 2s;
}

.txt03 {
    animation-delay: 3s;
}

.txt04 {
    animation-delay: 4s;
}

.txt05 {
    animation-delay: 5s;
}

.txt06 {
    animation-delay: 6s;
}

.txt07 {
    animation-delay: 7s;
}

.empty {
    height: 100vh;
}


/* about */
.circle-1,
.circle-2,
.circle-3 {
    color: #fff;
    padding: 5%;
    width: 400px;
    height: 400px;
    margin: 0 -15px;
    mix-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-1 {
    background: #3bb1f5;
    border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}

.circle-2 {
    background: #404B69;
    border-radius: 80% 30% 50% 50%/50%;
}

.circle-3 {
    background: #00bbdd;
    border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
}


.about-body {
    display: flex;
    justify-content: center;
    padding: 20px;
}

@media (max-width: 600px) {
    .about-body {
        flex-direction: column;
    }
}