/* @theme custom2 */

@import "gaia";

section::after,
footer {
  background-image: url(../themes/img/logo.png);
  color: white;
  background-color: #72a3f7;
  height: 50px;
  margin-bottom: 0px;
  font-size: 80%;
  padding: 0px 20px 0px 20px;
  background-repeat: no-repeat;
  background-size: 100px;
  background-position-x: 800px;
  background-position-y: center;
}

section {
  background-color: white;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}

section.top {
  background-image: url(../themes/img/logo.png);
  background-repeat: no-repeat;
  background-size: 600px;
  background-position-x: center;
  background-position-y:0px;
}

section.top h1 {
  color: slategray;
  font-size: 2.3rem;
  margin-top:250px;
  margin-bottom: 20px;
  text-align: center;
}

section.top h2 {
  color: rgb(68, 67, 67);
  font-size: 0.65rem;
  margin-top: 0px;
  text-align: right;
}

section.normal {
  padding: 50px 50px 50px 50px;
  background-image: url(../themes/img/logo2.png);
  background-repeat: no-repeat;
  background-size: 150px;
  background-position-x: 800px;
  background-position-y: 80px;
}

section.normal h1 {
  font-size: 2rem;
  border-bottom: 2px solid #44aada;
  margin-bottom: -15px;
}

section.normal h2 {
  font-size: 1.3rem;
}

section.normal h3 {
  font-size: 1.1rem;
}

section.normal h4 {
  font-size: 1.0rem;
}

section.impact h1{
  font-size: 5rem;
  color:blue;
}
section.impact h2{
  font-size: 3.8rem;
  color: darkgreen;
}
section.impact h3{
  font-size: 3rem;
}
section.impact h4{
  font-size: 1.5rem;
}
section.impact h5{
  font-size: 1rem;
}
section.final {
  background-image: url(../themes/img/logo3.svg);
  background-repeat: no-repeat;
  background-size: 800px;
  background-position-x: center;
  background-position-y: center;
  font-size: 3rem;
  text-align: center;
  color: black;
  font-family: "MS 明朝";
  font-weight: 800;
}